{% extends "base.html" %}
{% load static %}

{% block titulo %}
<h1>Te Lo Vendo</h1>
{% endblock %}
{% block contenido %}
<p>
    ¡Bienvenido a Te Lo Vendo!<br><br>

    Somos una plataforma en línea diseñada para ofrecer a nuestros clientes la mejor experiencia de compra posible. En Te Lo Vendo, nos enfocamos en brindarle una amplia selección de productos de calidad, al mejor precio del mercado.<br><br>
    
    Desde tecnología, moda, hogar y jardín, hasta belleza y cuidado personal, nuestro catálogo está lleno de productos que te sorprenderán. Ofrecemos envío rápido y seguro, así como múltiples formas de pago para que puedas comprar con total tranquilidad desde la comodidad de tu hogar.<br><br>
    
    Nuestro compromiso es brindarte el mejor servicio posible y satisfacer tus necesidades de compra en todo momento. Estamos siempre dispuestos a ayudarte en caso de cualquier duda o inconveniente que puedas tener.<br><br>
    
    Te invitamos a explorar nuestro sitio web y descubrir todo lo que tenemos para ofrecerte. ¡No te arrepentirás de haber elegido Te Lo Vendo para tus compras en línea!<br><br>
</p>
{% endblock %}